streamlit>=1.40.0
scipy
numpy
azure-cognitiveservices-speech==1.36.0
requests
streamlit-audiorecorder
pydub



transformers
sentencepiece
torch
soundfile
git+https://github.com/openai/whisper.git


numpy
scipy
requests
pydub
sentencepiece
soundfile



# PyTorch (CPU)
torch



# Google Cloud Translation API v3
google-cloud-translate==3.12.0
google-cloud-speech


